// Styling for the footer
footer {
    padding: 20px 0;
    text-align: right;
    background-color: white;
    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        line-height: 0;
        li {
            a {
                font-size: 50px;
                color: $theme-primary;
            }
        }
    }
}
