// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;
        color: #5c5cbc;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    color: $theme-primary;
}

section {
    padding: 50px 0;
    h2 {
        font-size: 50px;
    }
}

button:focus,
input:focus,
textarea:focus,
a:focus {
    outline: 0;
}