// Mixins
@mixin transition-all() {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

@font-face {
    font-family: "Amplify";
    src: url("../fonts/Amplify.ttf") format("truetype");
}

@mixin heading-font {
    font-family: 'Amplify', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
}

@mixin body-font {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}