// Styling for the navbar
#mainNav {
    background-color: $theme-primary;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
    @include transition-all;
    @include body-font;
    .navbar-brand {
        font-size: 28px;
        color: white;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
        > img {
            height: 40px;
            margin-right: 10px;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: white;
    }
    .navbar-nav {
        > li {
            > a {
                font-size: 15px;
                text-transform: uppercase;
                &.active {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: fade-out(white, .3);
                &:hover {
                    color: white;
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: transparent;
        background-color: $theme-primary;
        .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: fade-out(white, .3);
            &:hover {
                color: white;
            }
        }
        &.navbar-shrink {
            background-color: white;
            .navbar-brand {
                color: $theme-primary;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $theme-primary;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
